.footer {
    border: 1px solid #000;
}
.footer__nav {
    display: flex;
    justify-content: flex-end;
}

.footer__nav  > li {
    list-style-type: none;
    margin-left: 10px;
}

.footer__nav a {
    text-decoration: none;
}

